body {
    margin: 0px;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    padding-top: 50px;
}

.card-content {
    min-height: 140px;
}

.header_wrapper {
    background-color: whte;
    width: 100%;
}

is-flex {
    display: flex;
}

.article {
    padding: 20px 0px;
}

.article p {
    padding-bottom: 10px;
}

.article__item_title,
.hero.is-light .title.article__item_title {
    color: #636A42;
}

.article a {}

.article a:hover {}

.article h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 20px;
}

.article ul {
    list-style: disc;
    margin-left: 20px;
}

.article li {}

header {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100px;
}

header a {
    min-width: 50%;
    text-decoration: none;
}

header h1 span {
    font-size: 11px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
}

header h1 {
    margin: 0px;
    display: flex;
    justify-content: left;
    color: #4477DE;
    font-size: 35px;
    width: 100%;
    position: relative;
    padding-left: 20px;
    font-weight: bold;
}

.how_it_works .subtitle {
    color: #CAC2CE;
}

.is_relative {
    position: relative;
}

.our_solutions_wrapper {
    width: 45vw;
    z-index: 1;
    background: white;
    margin-top: 40px;
}

.btn-centered {
    margin: 0 auto;
    display: block;
}

.our_solutions_wrapper .title {
    color: #636A42;
}

.our_solutions_wrapper .subtitle {
    line-height: 50px;
    letter-spacing: 5px;
    margin-top: 20px;
    font-weight: bold;
    color: #CAC2CE;
}

@media (max-width: 639px) {
    .our_solutions_wrapper .subtitle {
        line-height: 20px;
        letter-spacing: 5px;
    }
    header h1 span {
        display: none;
    }
    header {
        flex-direction: column;
    }
    header h1 {
        font-size: 25px;
        justify-content: center;
        padding-top: 18px;
        padding-left: 0px;
    }
    header ul {
        /* width: 100%; */
    }
    header li {}
    header li a {
        padding: 20px 0px;
        font-size: 12px;
    }
}

header li a {
    color: #636A42;
    height: 38px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}

header ul {
    /* padding: 0px; */
    /* min-width: 200px; */
    /* margin: 0px; */
}

header li {
    /* text-align: center; */
}

.headline_wrapper {
    min-height: calc(100vh - 50px);
    /*linear-gradient( rgb(77, 119, 78,.5), rgb(77, 119, 78,.5) 5%), url('/img/md-bg-min.jpg')*/
    background: linear-gradient( rgb(77, 119, 78, .5), rgb(77, 119, 78, .5) 5%), url('/img/md-bg-min.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline__text__top {
    color: #87d755;
}

.headline__text__bottom {
    color: #4477DE;
}

.headline__text__top,
.headline__text__bottom {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 0px;
}

@media (min-width: 1048px) {
    .headline__text__top,
    .headline__text__bottom {
        font-size: 25px;
    }
}

@media (max-width: 320px) {}

@media (max-width: 639px) {
    .headline_wrapper {
        min-height: calc(82vh);
    }
}

.headline__text_wrapper {
    background: white;
    padding: 5px 50px;
    /* margin: 0px 20px; */
    display: flex;
    flex-direction: column;
    /* min-height: 155px; */
    justify-content: center;
    align-items: center;
    width: 100%;
}

@media (max-width: 639px) {
    .headline__text_wrapper {}
}

iframe {
    min-height: 300px;
    width: -webkit-fill-available;
}

article {
    /* max-width: 1200px; */
    padding: 0;
    margin: 0px auto 50px auto;
    /* display: block; */
    /* width: fit-content; */
    padding: 24px;
}

@media (max-width: 639px) {
    iframe {
        width: -webkit-fill-available;
    }
    article {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.services {
    display: grid;
    grid-template-columns: 300px 300px;
    margin: 0 auto;
    margin-top: 50px;
    justify-self: center;
}

@media (min-width: 1048px) {
    article {
        /* min-width: 900px; */
    }
    iframe {
        min-height: 600px;
    }
    .services {
        grid-template-columns: 300px 300px 300px;
    }
}

@media (min-width: 1400px) {
    article {}
    .services {
        grid-template-columns: 300px 300px 300px 300px;
    }
}

@media (max-width: 639px) {
    .services {
        grid-template-columns: 300px;
    }
}

.service {
    padding: 15px;
    max-width: 300px;
    margin: 10px;
}

.service ul {
    margin: 0px;
    padding-left: 20px;
    min-height: 140px;
}

.service li {
    color: #e0c4c4;
    font-weight: bold;
}

.service .title {
    background: url('/img/pc-maintenance.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service.coding .title {
    background: url('/img/pc-coding.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service.backend .title {
    background: url('/img/pc-backend.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service.guy .title {
    background: url('/img/pc-guy.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service.free .title {
    background: url('/img/pc-free.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service h2 {
    background: #ffffffd1;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    color: #404040;
}

.service p {
    color: #e0c4c4;
    font-weight: bold;
    min-height: 195px;
}

.service .price {
    font-size: 20px;
    color: #53b553;
}

.service .button {
    background: white;
    padding: 10px;
    margin-top: 50px;
    display: block;
    border: 1px dashed #53b553;
    text-align: center;
    color: slateblue;
    font-size: 18px;
    text-decoration: none;
}

.service .button:hover {
    color: blue;
}

.contact {}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background: #6a5acd;
    padding: 50px;
    border-radius: 5px;
}

@media (min-width: 1048px) {
    .contact form {
        min-width: 600px;
    }
}

.contact input {}

.contact button {}

.contact textarea {
    min-height: 150px;
}

.contact label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

.contact button:hover {}

h4.sitemap {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
}

.sitemap {
    padding: 0px;
    max-width: 100%;
}

.sitemap li {
    list-style: none;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 0px 20px;
}

.sitemap a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    text-align: left;
    justify-content: start;
    max-width: 100%;
}

.footer_wave {
    height: 250px;
    background: url('/img/footer_wave.svg');
    width: 100%;
    margin-top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 1px;
    z-index: 9999;
}

footer {
    /*display: grid;
    grid-template-columns: 50% 50%;*/
    background: #4477DE;
    min-height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    position: relative;
}

@media (max-width: 639px) {
    footer {
        grid-template-columns: 100%;
    }
}

footer a {
    display: block;
    width: 200px;
    text-align: center;
    background: transparent;
    justify-self: center;
    color: white;
    font-size: 20px;
    padding: 50px;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li {
    font-family: 'Open Sans', sans-serif;
}

.contact img {
    max-width: 100%;
    float: left;
    margin-right: 20px;
}

@media (max-width: 639px) {}

@media (max-width: 1047px) {}

@media (min-width: 1048px) {}

.utterances {
    margin-bottom: 120px;
}

.contactMapWrapper {
    margin-bottom: -279px;
}

@media (max-width: 639px) {
    .contactMapWrapper {
        margin-bottom: -150px;
    }
}

@media (max-width: 1047px) {}

@media (min-width: 1048px) {}

@media (min-width: 1448px) {
    .footer_wave {
        display: none;
    }
}

.homepage_service {
    max-width: 300px;
    margin: 0 auto;
}

.homepage_service .title,
.homepage_hero .title,
.hero.is-light.homepage_hero .title,
.navbar .icon,
.how_it_works .title {
    color: #4477DE;
}

.navbar-item img {
    max-height: 40px;
}