body {
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header_wrapper{
    background-color:#6a5acd;
    width: 100%;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header a{
    width:100%;
    text-decoration:none;
}
header h1 span{
    font-size: 11px;
    display: flex;
    align-items: center;
    padding: 0px 5px;
}
header h1 {
    margin: 0px;
    display: flex;
    justify-content: left;
    color: white;
    font-size: 28px;
    width: 100%;
    position: relative;
    padding-left: 20px;
}
header h6{
    display: none;
}
@media (max-width: 639px) {
    header h6{
    display: block;
    margin: 0px;
    background: slateblue;
    width: 100%;
    text-align: center;
    color: white;
}
    header h1 span{
    display: none;
}
    header {
    flex-direction: column;
}
    header h1 {
        font-size: 25px;
        justify-content: center;
        padding-top: 18px;
        padding-left: 0px;
    }
header ul{
    width: 100%;
}
header li{}
header li a{
    padding: 20px 0px;
}
}
header li a{
    color: white;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
}

header ul{
    padding: 0px;
    min-width: 200px;
    margin: 0px;
}
header li{
    text-align: center;
    list-style: none;
}

.headline_wrapper{
    min-height: calc(50vw);
    background-color: red;
    background: url('https://images.unsplash.com/photo-1504609813442-a8924e83f76e?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 639px) {
    .headline_wrapper{
        min-height: calc(30vw);
}
}
.headline_wrapper > h2{
    text-align: center;
    color: white;
    background: #d7170b;
    padding: 0px;
    margin: 0px;
}

@media (max-width: 639px) {
    .headline_wrapper > h2{
        font-size:25px!important;
    }
}

article {
    max-width: 1024px;
    margin-top: 50px;
    width: 90%;
    padding: 0;
}

.services {
    display: grid;
    grid-template-columns: 300px 300px;
    margin-top: 50px;
}

@media (min-width: 1048px) {
    .services {
        grid-template-columns: 300px 300px 300px;
    }
}

@media (min-width: 1400px) {
    .services {
        grid-template-columns: 300px 300px 300px 300px;
    }
}

@media (max-width: 639px) {
    .services {
        grid-template-columns: 300px;
    }
}

.service {
    padding: 15px;
    max-width: 300px;
    margin: 10px;
}

.service ul {
    margin: 0px;
    padding-left: 20px;
    min-height: 170px;
}

.service li {
    color: #e0c4c4;
    font-weight: bold;
}

.service .title {
    background: url('/img/pc-maintenance.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service.coding .title {
    background: url('/img/pc-coding.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service.backend .title {
    background: url('/img/pc-backend.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service.guy .title {
    background: url('/img/pc-guy.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service.free .title {
    background: url('/img/pc-free.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.service h2 {
    background: #ffffffd1;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    text-align: center;
    color: #404040;
}

.service p {
    color: #e0c4c4;
    font-weight: bold;
    min-height: 175px;
}

.service .price {
    font-size: 20px;
    color: #53b553;
}

.service .button {
    background: white;
    padding: 10px;
    margin-top: 50px;
    display: block;
    border: 1px dashed #53b553;
    text-align: center;
    color: slateblue;
    font-size: 18px;
    text-decoration: none;
}

.service .button:hover {
    color: blue;
}

.contact {}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    background: #6a5acd;
    padding: 50px;
    border-radius: 5px;
}

@media (min-width: 1048px) {
    .contact form {
    min-width: 600px;
}
}

.contact input {}

.contact button {}

.contact textarea {
    min-height: 150px;
}

.contact label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

.contact button:hover {}

h4.sitemap{
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
}
.sitemap{padding: 0px;
    max-width: 100%;}
.sitemap li{
    list-style: none;
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 0px 20px;
}
.sitemap a{
    display: block;
    text-decoration: none;
    font-size: 12px;
    text-align:left;
    justify-content: start;
    max-width:100%;
}

.footer_wave {
    height: 250px;
    background: url('/img/footer_wave.svg');
    width: 100%;
    margin-top: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 1px;
}

footer {
    /*display: grid;
    grid-template-columns: 50% 50%;*/
    background: slateblue;
    min-height: 300px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 639px) {
    footer {
        grid-template-columns: 100%;
    }
}

footer a {
    display: block;
    width: 200px;
    text-align: center;
    background: transparent;
    justify-self: center;
    color: white;
    font-size: 20px;
    padding: 50px;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li {
    font-family: 'Open Sans', sans-serif;
}

.contact img{
    max-width: 100%;
    float: left;
    margin-right: 20px;
}

@media (max-width: 639px) {}

@media (max-width: 1047px) {}

@media (min-width: 1048px) {}