<section class="hero is-link">
    <div class="hero-body">
        <div class="container">
            <p class="title">
                Blog
            </p>
            <p class="subtitle">
                Ça marche tout simplement
            </p>
        </div>
    </div>
</section>

{{#each pages}}


<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <p class="title article__item_title">
                {{title}}
            </p>
            <h5>Publication: {{#momentcalendar article.created}}{{/momentcalendar}}</h5>
            <a href="{{href}}" class="button is-link">Voir plus</a>
        </div>
    </div>
</section>

{{/each}}