<div class="entry-content" itemprop="articleBody">
    <span class="wtr-time-wrap before-content"><p class="text-right"></p></span>
    <div id="wtr-content" data-bg="#FFFFFF" data-fg="#6a5687" data-width="5" data-mute="" data-fgopacity="0.75" data-mutedopacity="0.5" data-placement="top" data-placement-offset="41" data-content-offset="0" data-placement-touch="top" data-placement-offset-touch="41"
        data-transparent="1" data-touch="1" data-non-touch="1" data-comments="0" data-commentsbg="#ffcece" data-location="page" data-mutedfg="#b49cd9" data-rtl=""><span class="Z3988" title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Adc&amp;rfr_id=info%3Asid%2Focoins.info%3Agenerator&amp;rft.type=&amp;rft.format=text&amp;rft.title=Montpel'libre, l'asso libre tous azimuts&amp;rft.source=Framablog&amp;rft.date=2018-03-28&amp;rft.identifier=https://framablog.org/2018/03/28/montpellibre-lasso-libre-tous-azimuts/&amp;rft.language=English&amp;rft.subject=Communs&amp;rft.subject=Contributopia&amp;rft.subject=Dégooglisons Internet&amp;rft.subject=Framasoft&amp;rft.subject=G.A.F.A.M.&amp;rft.subject=Internet et société&amp;rft.subject=Libertés Numériques&amp;rft.subject=Libres Logiciels&amp;rft.subject=Libres Services&amp;rft.au=Association Framasoft"></span>
        <div class="text-right"></div>
        <p><em>Jour après jour et depuis longtemps, des associations qui promeuvent les logiciels et la culture libre sont au contact de la population et forment un réseau irremplaçable&nbsp;: celui des GUL (Groupes d’Utilisateurs Linux) ou GULL (Groupes d’utilisateurs de Logiciels Libres). </em></p>
        <p><span id="more-11846"></span></p>
        <p><em>Leurs activités traditionnelles&nbsp;: install’parties, conférences, stands… ont été complétées par une grande variété d’actions adaptées au contexte local et aux évolutions de nos pratiques numériques. </em></p>
        <p><em>Nous avons choisi de mettre en valeur l’association Montpel’libre parce que (comme d’autres bien sûr) elle offre un exemple intéressant de diversification et de dynamisme (on y trouve même un groupe Framasoft…), et leurs membres ont été assez sympas pour répondre aux 512 questions que nous avions préparées. Voici une sélection de leurs réponses à plusieurs voix…<br>
</em></p>
        <p style="display: none;">&nbsp;</p>
        <p><strong>— Bonjour les Montpel’libristes, est-ce que vous pouvez nous dire un peu à quoi ressemble votre association&nbsp;?<br>
</strong></p>
        <p>— Bonjour Frama. En préambule, nous avons remarqué que vous avez utilisé un Framapad pour cette interview, ce que nous comprenons parfaitement. Néanmoins, vous auriez pu utiliser un <a target="_blank" href="http://pad.bim.land">BIMpad</a> sur
            nos CHATONS.</p>
        <p>BIM pour Bienvenue sur l’Internet Montpelliérain, administré et hébergé localement. <a target="_blank" href="http://bim.land">Voici la page</a> (en construction) où sont tous les services que nous proposons. Après Dégooglisons, nous sommes aussi
            passés à Contributopia.&nbsp;;)</p>
        <p>Et pour faire connaissance avec notre association, l’essentiel est sur <a target="_blank" href="http://montpel-libre.fr/stock/documents/Adhesion/montpellibre_presentation_2018_flyer.pdf">ce petit flyer</a></p>
        <p>
            <a target="_blank" href="https://framablog.org/wp-content/uploads/2018/03/Screenshot-2018-3-22-montpellibre_presentation_2018_flyer-pdf.png" data-rel="lightbox"><img class="aligncenter wp-image-11848 size-full" src="https://framablog.org/wp-content/uploads/2018/03/Screenshot-2018-3-22-montpellibre_presentation_2018_flyer-pdf.png" alt="flyer qui résume les activités de l'association Montpel'libre"
                    width="391" height="555" border="1pix" srcset="https://framablog.org/wp-content/uploads/2018/03/Screenshot-2018-3-22-montpellibre_presentation_2018_flyer-pdf.png 391w, https://framablog.org/wp-content/uploads/2018/03/Screenshot-2018-3-22-montpellibre_presentation_2018_flyer-pdf-211x300.png 211w"
                    sizes="(max-width: 391px) 100vw, 391px"></a>
        </p>
        <p><strong>— Avec ce nom d’association on devine que vous rayonnez sur <a target="_blank" href="https://fr.wikipedia.org/wiki/Montpellier">la métropole occitane</a>, mais on voit aussi des événements vers Nîmes ou Béziers, comment vous vous organisez&nbsp;?</strong></p>
        <p>— Effectivement, notre volonté est de faire la promotion des Logiciels Libres, de la Culture Libre et des Biens Communs à l’origine sur Montpellier, mais très vite nous avons pris une dimension régionale. Aujourd’hui nous intervenons sur l’Occitanie,
            en partie sur PACA, et avons quelques actions sur l’Afrique et le Québec. Nous souhaitons développer ces actions sur ces territoires en y organisant des <a target="_blank" href="http://digiworldweek.com/donner-une-seconde-vie-a-votre-informatique-un-avenir-pour-lafrique-jerry-party/">Jerry-Party</a>,
            les <a target="_blank" href="https://2014.rmll.info/?lang=fr">RMLL</a>, <a target="_blank" href="https://fr.wikipedia.org/wiki/Espace_public_num%C3%A9rique">EPN</a>, <a target="_blank" href="http://coworkinmontpellier.org/">coworking</a>,
            <a target="_blank" href="https://www.entreprendre-montpellier.com/simplanter-grands-projets/industries-culturelles-et-creatives"> ICC</a> et <a target="_blank" href="https://fr.wikipedia.org/wiki/%C3%89conomie_sociale">ESS</a>…</p>
        <p>Nous sommes créatifs, réactifs, simples et souples. Des personnes viennent vers nous avec des demandes sur les logiciels libres, la culture libre et les biens communs et nous trouvons rapidement et simplement comment faire pour les satisfaire.<br>            Comme nous nous inscrivons dans la durée, nous créons des réseaux que nous mettons en synergie et nous trouvons sur place ou non, les personnes qui peuvent nous aider à mener nos projets&nbsp;: des néophytes qu’on fait monter en compétence
            comme des personnes chevronnées qui prennent le <em>lead</em> sur les actions à mener. Ce qui les fait adhérer à&nbsp;Montpel’libre et y rester, c’est le fait qu’on écoute leur désir profond et qu’on les accompagne pour créer leur projet,
            en leur apportant la force du groupe, de ses différentes communautés, personnalités, compétences.</p>
        <p><strong>— Quand on lit la <a target="_blank" href="http://montpel-libre.fr/spip.php?rubrique7">liste de des activités</a> de Montpel’libre on est pris d’un léger vertige&nbsp;: mais comment font-ils&nbsp;?</strong><br>
            <strong>On imagine vu le nombre d’événements, que vous êtes nombreux et nombreuses, et que de nouvelles personnes viennent dans l’asso, comment se passe l’accueil des nouvelles personnes, vous avez une stratégie ou bien ça se fait tout seul&nbsp;?</strong></p>
        <p>—&nbsp; Plutôt que de constater une étanchéité des communautés, comme c’est souvent le cas, nous avons choisi de favoriser au sein de Montpel’libre une collaboration active de plusieurs communautés&nbsp;: April, Blender, Emmabuntüs, Framasoft,
            OpenStreetMap, Site Web/Internet, Wikipédia…, cela nous permet ipso facto d’organiser plus rapidement des événements tel que les Opérations Libres, qui font intervenir les communautés Wikipédia, OpenStreetMap, Framasoft, Blender… ces communautés
            étant actives dans l’asso, l’organisation s’en trouve plus aisée, efficiente et du coup largement moins problématique.</p>
        <p>— Nous n’avons pas forcément de plan triennal, cela ne nous empêche pas de nous projeter dans l’avenir. Nous établissons déjà les activités pour 2019, même si celles-ci ne sont pas encore publiées, AprilCamp, PyConFr, Escale à l’UM, Libre de Droit,
            RMLL à Montpellier, en 2020 RMLL à Rabat… Bien sûr certaines propositions ne sont qu’à l’état d’ébauche, blockchain, <em>smart city</em>, iot, icc, ess… Du libre pour tous, tout de suite et partout&nbsp;!</p>
        <p>Nous ne sommes pas conscients de tout ce qui nous a permis de réussir, mais nous savons ce qui est important pour nous. En premier lieu, nous sommes respectueux des différences et de la diversité. Bien des personnes nous rejoignent parce qu’elles
            savent qu’avec et dans Montpel’libre, elles vont pouvoir mettre en place leurs idées de façon simple et efficace, quoiqu’elles sachent faire, et s’accomplir dans une ambiance conviviale. Elles aiment aussi la créativité que démontre le groupe.</p>
        <p>— En même temps, pour développer et mener à bien des projets, nous avons dans le Bureau toutes les compétences complémentaires nécessaires&nbsp;: nous sommes tous utilisateurs de logiciels libres et membre de plusieurs communautés. En fait, quand
            on éprouve un besoin, la réponse arrive à point nommé&nbsp;: cela repose sur un long travail de fond, chacun dans nos domaines, un partage dans l’esprit du Libre et une écoute profonde</p>
        <p>— Les adhérents sont très divers et participent tous à notre succès&nbsp;: on retrouve beaucoup d’électrons libres et de hauts profils dans différentes matières qui font le numérique libre au sens large, mais aussi des enfants, des institutions,
            des entreprises, des associations, d’autres Gull, des personnes âgées, des personnes en situation de handicap, des stagiaires, des étudiants, et des personnes venues de plusieurs continents…</p>
        <figure id="attachment_11934" class="thumbnail wp-caption aligncenter" style="width: 1024px">
            <a target="_blank" href="https://framablog.org/wp-content/uploads/2018/03/Montpellibre_Presentation_logiciel_libre_Emmaus_20151219.jpg" data-rel="lightbox"><img class="wp-image-11934 size-large" src="https://framablog.org/wp-content/uploads/2018/03/Montpellibre_Presentation_logiciel_libre_Emmaus_20151219-1024x768.jpg" alt="" width="1024" height="768" srcset="https://framablog.org/wp-content/uploads/2018/03/Montpellibre_Presentation_logiciel_libre_Emmaus_20151219.jpg 1024w, https://framablog.org/wp-content/uploads/2018/03/Montpellibre_Presentation_logiciel_libre_Emmaus_20151219-300x225.jpg 300w, https://framablog.org/wp-content/uploads/2018/03/Montpellibre_Presentation_logiciel_libre_Emmaus_20151219-768x576.jpg 768w"
                    sizes="(max-width: 1024px) 100vw, 1024px"></a>
            <figcaption class="caption wp-caption-text"><em>Montpel’libre présente les logiciels libres à la communauté Emmaüs de Montpellier (décembre 2015)</em></figcaption>
        </figure>
        <p style="display: none;">&nbsp;</p>
        <p>— C’est cette alchimie qui rend l’association étonnante, spécifique, vivante, organique….</p>
        <p>— Je crois que ceux qui participent à nos actions (bénévoles, partenaires, fournisseurs) apprécient aussi notre façon de les mettre en valeur&nbsp;: pour nous c’est ensemble que nous faisons les choses et s’il manque une personne, alors l’action
            ne peut être aussi belle. Nous remercions toujours chacun⋅e en expliquant quelle part il ou elle a pris dans le succès de l’action.</p>
        <p>— En conclusion, on pourrait dire&nbsp;: «&nbsp;Il n’est de richesses que de personnes&nbsp;», et nous agissons avec le temps…</p>
        <p>
            <a target="_blank" href="https://framablog.org/wp-content/uploads/2018/03/arton3604-30e2c.jpg" data-rel="lightbox"><img class="alignleft size-full wp-image-11908" src="https://framablog.org/wp-content/uploads/2018/03/arton3604-30e2c.jpg" alt="" width="200" height="200" srcset="https://framablog.org/wp-content/uploads/2018/03/arton3604-30e2c.jpg 200w, https://framablog.org/wp-content/uploads/2018/03/arton3604-30e2c-150x150.jpg 150w"
                    sizes="(max-width: 200px) 100vw, 200px"></a>
        </p>
        <p><strong>— Votre organisation, c’est plutôt cathédrale ou bazar&nbsp;?</strong></p>
        <p>— La contribution collaborative, la prise de décision, l’émergence d’idée, l’esprit critique, le participatif, sont encouragés dans Montpel’libre. Une cathédrale&nbsp;? Pas forcement. Un bazar structuré, plutôt&nbsp;!</p>
        <p>— En fait, ce n’est ni la cathédrale, ni le bazar, c’est autre chose. Plutôt un Ki&nbsp;: l’énergie vitale et primordiale, celle qui est à l’origine de l’action, se transforme et la transforme en permanence.<br> Nous exprimons. à la fois la diversité
            de la vie, sa force et sa capacité à se renouveler&nbsp;:)</p>
        <p><strong>— C’est quoi les valeurs que vous promouvez, finalement&nbsp;?</strong></p>
        <p>— Montpel’libre considère les Logiciels Libres, la Culture Libre et les Biens Communs (vous remarquerez que nous avons mis des majuscules à chaque mot&nbsp;:) comme l’ADN de l’asso. Notre sacerdoce repose essentiellement sur la liberté 0, que
            nous qualifions d’accessibilité. Évidemment l’accessibilité au code pour les logiciels, mais aussi l’accessibilité aux ressources, à la culture, au numérique pour les personnes à mobilité réduite, les déficients visuels, mais pas seulement,
            issus de la diversité, de culture, d’âge ou de genres différents…</p>
        <p style="display: none;">&nbsp;</p>
        <p>Nous rendons accessibles et humains le Logiciel libre, la Culture Libre et les Biens Communs. Entre nous, on en plaisante et on se dit «&nbsp;dealers de bonheur, dis-leur le bonheur&nbsp;!&nbsp;». Nous aimons le partage et nous apprécions particulièrement
            de voir les personnes qui ont participé à l’une de nos actions avec des yeux pleins de lumière et de grands sourires. Nous pratiquons beaucoup l’écoute, le partage et la proximité… mais nous aimons aussi la convivialité&nbsp;: les apéros,
            les bons repas et danser&nbsp;!</p>
        <figure id="attachment_11925" class="thumbnail wp-caption alignleft" style="width: 800px">
            <a target="_blank" href="https://framablog.org/wp-content/uploads/2018/03/jeuvideo-montpellibre.jpg" data-rel="lightbox"><img class="size-full wp-image-11925" src="https://framablog.org/wp-content/uploads/2018/03/jeuvideo-montpellibre.jpg" alt="" width="800" height="600" srcset="https://framablog.org/wp-content/uploads/2018/03/jeuvideo-montpellibre.jpg 800w, https://framablog.org/wp-content/uploads/2018/03/jeuvideo-montpellibre-300x225.jpg 300w, https://framablog.org/wp-content/uploads/2018/03/jeuvideo-montpellibre-768x576.jpg 768w"
                    sizes="(max-width: 800px) 100vw, 800px"></a>
            <figcaption class="caption wp-caption-text"><em>Les bénévoles de Montpel’libre pensent aussi aux plus jeunes (ici atelier jeu vidéo) – Photo Montpel’libre – merci @<a target="_blank" href="https://mastodon.tetaneutral.net/@Natouille">Natouille</a></em></figcaption>
        </figure>
        <p><strong>— Votre slogan «&nbsp;Les logiciels logiquement libres&nbsp;» c’est chouette, mais ça laisse supposer que vous ne vous occupez que de la promotion du logiciel libre, alors que vos actions sont bien plus larges..</strong>.</p>
        <p>—&nbsp; L’asso est née en 2008, il y a bientôt 10 ans, vous imaginez bien que nos actions ont évolué, se sont diversifiées, démocratisées et répandues sur un territoire plus élargi. Aujourd’hui, nous nous trouvons à la jonction des secteurs d’activités
            du numérique, des industries créatives, de l’économie sociale et solidaire, du développement durable, de la recherche et formation ainsi que de l’éducation populaire.</p>
        <p>Montpel’libre c’est un jeu de mot qui durera toujours . Montpel’ n’est pas lié&nbsp;: il est libre. Et nous sommes nés à Montpellier, ça, c’est un fait qui ne changera jamais. En revanche aujourd’hui le slogan devrait effectivement changer pour
            intégrer la Culture libre et les Biens Communs. Il devrait devenir&nbsp;: «&nbsp;Logiquement libres&nbsp;», tout simplement.</p>
        <p><strong>— Est-ce que les RMLL à Montpellier ont contribué à booster l’association ou bien était-elle déjà très active et donc a été candidate et choisie pour cela&nbsp;?</strong></p>
        <p>— Bien sûr que les RMLL ont contribué à booster Montpel’libre, en douter serait nier l’évidence, même si nous avions déjà organisé plusieurs fois des salons (confs/stands…) à l’Université de Montpellier. Thierry Stœhr, Christophe Sauthier et d’autres,
            l’Université de Montpellier, l’Université d’Évry, l’Université Mohammedia de Rabat, 2iE à Ougadougou y ont participé. Nous avons un peu levé le pied là-dessus, car les gens nous demandaient à cette époque des ateliers, des permanences, des
            confs, bref de la proximité. Nous réfléchissons à relancer ces salons sur la région.<br> Avant d’organiser les RMLL, nous avions soigneusement travaillé nos réseaux, organisé ou participé à des événements avec les communautés, organisé certains
            événements comme l’assemblée générale de l’Aful, l’AprilCamp, une étape du tour de France des Logiciels Libres, les assises du Libre… afin de bien connaître et se faire connaître des communautés, des collectivités, des financeurs…</p>
        <p>— Les RMLL ont permis d’attirer à Montpel’libre des professions autres que techniques et donc complémentaires et de fédérer les énergies et les bonnes volontés.<br> En plus, tous ceux qui ont réalisé un événement international le savent, l’organisation
            en est lourde et des tensions naissent. Le conflit a ceci de bon, quand il est positif, de permettre de s’asseoir à une table, de dire qu’il y a une difficulté et de trouver comment la régler. Montpel’libre a su passer au-dessus des difficultés.
            Cet événement a été intégrateur de compétences et fédérateur d’énergies et de bonnes volontés.</p>
        <p><strong>— C’est quoi le «&nbsp;gros coup&nbsp;» d’après&nbsp;? Vous avez bien encore un méga-projet dans les cartons&nbsp;?</strong></p>
        <p>— Chut&nbsp;! Bien sûr, mais comme c’est un projet sensible, nous en discuterons plus tard, si vous le voulez bien.<br> Hum, mais qui a parlé d’un seul projet&nbsp;?</p>
        <p><strong>— Vous avez une longue liste de partenaires de toutes sortes, est-ce que certains contribuent au financement de l’association&nbsp;? Et au fait, comment vit financièrement votre association&nbsp;? Seulement avec les cotisations des membres&nbsp;?</strong></p>
        <p>— Jusqu’à présent, nous ne nous étions pas posé la question, nous avons agi sur fonds propres, c’est à dire des fonds sortis de nos poches&nbsp;! Aujourd’hui, ce n’est plus possible vu le nombre et la diversité des activités. Il faut donc faire
            rentrer de l’argent dans les caisses (voyages, hébergement, pérennisation des activités…)<br> Le premier argent économisé est celui qui n’a pas été dépensé. Nous bénéficions de beaucoup de mécénats en nature (salles gratuites, personnels de
            service et gardiennage gratuit et dans certains cas cocktail).<br> Les cotisations de nos membres sont symboliques parce que volontairement nous voulons être accessibles&nbsp;: tout le monde doit pouvoir bénéficier des services de l’association
            et participer à l’organisation de l’une de ses activités.<br> Nous réfléchissons à trouver un, voire des modèle(s) économique(s).</p>
        <p><strong>— Bon c’est tout de même un peu agaçant, vous cochez toutes les cases de l’asso dynamique et sympathique en plein développement. Vous n’auriez pas un petit truc qui cloche pour tempérer un peu, je ne sais pas moi, un problème, une inquiétude, un truc dont vous regrettez qu’il ne marche pas&nbsp;?</strong></p>
        <p>— Nous avons les mêmes difficultés que tout le monde pour mettre en place des actions et pour les pérenniser. Nous vivons les mêmes joies et questionnements que tout le monde. Nous croyons profondément en notre liberté et nous respectons celle
            des autres. Si quelqu’un ne veut pas agir avec nous, c’est sa liberté, nous la respectons et nous continuons notre chemin.<br> Un point qui est à améliorer&nbsp;: nous ne sommes pas assez présents dans des salons sur le logiciel libre (pas
            assez de stands, conférences, ateliers…).</p>
        <p><strong>— Quelle est le projet qui a le mieux réussi à faire venir à vous des <em>Clapassièrs</em> (les habitants de Montpellier)&nbsp;?</strong></p>
        <p>— Ici, dans le Clapàs des Paysannasses notre réputation s’est faite à partir des cartoparties participatives sur l’accessibilité des personnes à mobilité réduite. Nous avons effectivement travaillé trois ans à l’enrichissement d’OpenStreetMap
            et de l’OpenData de Montpellier avec la ville, les citoyens et les communautés.<br> Après les cartoparties qui ont fait connaître Montpel’libre, notre association a permis à ceux qui y adhéraient de faire autre chose et autrement, d’où la
            diversité de ses actions.</p>
        <p>
            <a target="_blank" href="https://framablog.org/wp-content/uploads/2018/03/atelierOSM.jpg" data-rel="lightbox"><img class="size-medium wp-image-11929 alignleft" src="https://framablog.org/wp-content/uploads/2018/03/atelierOSM-300x225.jpg" alt="" width="300" height="225" srcset="https://framablog.org/wp-content/uploads/2018/03/atelierOSM-300x225.jpg 300w, https://framablog.org/wp-content/uploads/2018/03/atelierOSM-768x576.jpg 768w, https://framablog.org/wp-content/uploads/2018/03/atelierOSM.jpg 800w"
                    sizes="(max-width: 300px) 100vw, 300px"></a>
            <a target="_blank" href="https://framablog.org/wp-content/uploads/2018/03/carto.jpg" data-rel="lightbox"><img class="size-medium wp-image-11930 alignright" src="https://framablog.org/wp-content/uploads/2018/03/carto-300x225.jpg" alt="" width="300" height="225" srcset="https://framablog.org/wp-content/uploads/2018/03/carto-300x225.jpg 300w, https://framablog.org/wp-content/uploads/2018/03/carto-768x576.jpg 768w, https://framablog.org/wp-content/uploads/2018/03/carto.jpg 800w"
                    sizes="(max-width: 300px) 100vw, 300px"></a>
        </p>
        <p style="display: none;">&nbsp;</p>
        <p style="display: none;">&nbsp;</p>
        <p><em>Le groupe OSM&nbsp;: réunion de travail mais aussi cartopartie sur le terrain…</em></p>
        <p style="display: none;">&nbsp;</p>
        <p style="display: none;">&nbsp;</p>
        <p style="display: none;">&nbsp;</p>
        <p><strong>—&nbsp; Qu’est-ce que vous souhaitez dire aux habitants qui ne vous connaissent pas encore&nbsp;? Et plus largement, à tous les libristes et tous les GULL&nbsp;?</strong></p>
        <p>— Osez oser&nbsp;! Construisez à partir de qui vous êtes, c’est-à-dire des compétences que vous avez, et qui font de vous un individu ou une association différente et unique. Le reste viendra tout seul et vous saurez vous réinventer.</p>
        <p><strong>— On vous laisse le mot de la fin mais ce n’est qu’un début, continuez le combat&nbsp;!</strong><br> Bien sûr&nbsp;:</p>
        <blockquote>
            <p><strong> Montpel’libre n’est pas une entreprise, </strong></p>
            <p><strong>mais une asso qui entreprend.</strong></p>
        </blockquote>
        <p style="display: none;">&nbsp;</p>
        <h4>Liens utiles</h4>
        <ul>
            <li>Le portail de <a target="_blank" href="http://montpel-libre.fr/">l’association Montpel’libre</a></li>
            <li>Un <a target="_blank" href="http://montpel-libre.fr/stock/documents/Adhesion/montpellibre_presentation_2018_flyer.pdf">flyer de présentation</a></li>
            <li>Plaquettes listant les activités
                <ul>
                    <li><a target="_blank" href="http://montpel-libre.fr/stock/documents/Adhesion/montpellibre_plaquette_recto_2018.pdf">recto</a></li>
                    <li><a target="_blank" href="http://montpel-libre.fr/stock/documents/Adhesion/montpellibre_plaquette_verso_2018.pdf">verso</a></li>
                </ul>
            </li>
            <li>Le calendrier <a target="_blank" href="http://montpel-libre.fr/spip.php?rubrique30">des actions à mener</a></li>
        </ul>
    </div>
</div>
<hr>
<strong>Original source:</strong>
<a href="https://framablog.org/2018/03/28/montpellibre-lasso-libre-tous-azimuts/" target="blank">
    https://framablog.org/2018/03/28/montpellibre-lasso-libre-tous-azimuts/
</a>