<div class="columns is-multiline">

    <div class="column is-full how_it_works">
        <section class="hero  is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <p class="title has-text-centered">
                        Comment ça marche
                    </p>
                    <p class="subtitle has-text-centered">
                        Nous travaillons ensemble. Nous analysons chaque idée reçue et trouvons des problèmes communs entre différents acteurs. Ensuite, nous développons un produit minimum viable et nous parcourons les commentaires reçus jusqu'à ce que nous obtenions l'outil
                        idéal.
                    </p>
                    <p class="subtitle has-text-centered">
                        Nous proposons l'utilisation de chaque outil de deux manières différentes. Vous pouvez les utiliser directement via nos serveurs en payant un montant annuel au prix libre pour contribuer à son développement (et son adhésion si nous devenons une association).
                        Vous pouvez également télécharger le code source et l’héberger sur vos serveurs avec notre soutien
                    </p>
                </div>
            </div>
        </section>
    </div>


    <div class="column is-full">
        <section class="hero  is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-mobile is-multiline">
                        <div class="column is-one-third is_relative">
                            <div class="our_solutions_wrapper">
                                <div class="title">
                                    Nos solutions
                                </div>
                                <div class="subtitle is-size-4">Nous avons différentes solutions en développement. N'hésitez pas à jeter un coup d'oeil.</div>
                            </div>
                        </div>
                        <div class="column is-two-third">
                            <img loading="lazy" src="/img/md-guy-ojo.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="column is-full">
        <a href="https://savoie.misitioba.com/les-outils-web" target="_blank" class="is-large button is-link btn-centered" style="max-width: 200px;">Les outils</a>
    </div>


    <div class="column is-full">
        <section class="hero is-light homepage_hero">
            <div class="hero-body">
                <div class="container">
                    <p class="title">
                        Autres services
                    </p>
                    <p class="subtitle">
                        Les outils numériques gratuits ne sont pas ce que vous cherchez? Notre champ d’action couvre également la création et le conseil en
                    </p>
                </div>
            </div>
        </section>

    </div>

    {{#each services}}
    <div class="column is-one-quarter-desktop is-half-tablet">
        <div class="card homepage_service">
            <div class="card-image">
                <figure class="image is-4by4">
                    <img loading="lazy" src="{{image}}" alt="Placeholder image">
                </figure>
            </div>
            <div class="card-content">
                <p class="title is-5">{{title}}</p>
                <div class="content">
                    {{content}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}

</div>