<div class="footer_wave"></div>
<footer>
    <div class="columns">
        <div class="column">
            <a href="/contact" class="button is-medium is-link is-inverted is-outlined">Contact</a>
        </div>
        <div class="column">
            <div class="columns">
                <div class="column">
                    <a href="/" class="button is-small is-link is-inverted is-outlined">{{ i18n.MAIN_PAGE }}</a>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <a href="/about-us" class="button is-small is-link is-inverted is-outlined">{{ i18n.ABOUT }}</a>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <a href="/sitemap" class="button is-small is-link is-inverted is-outlined">{{ i18n.SITEMAP }}</a>
                </div>
            </div>

            <div class="columns">
                <div class="column">
                    <a href="/legal-mentions" class="button is-small is-link is-inverted is-outlined">Mentions
                        légales</a>
                </div>
            </div>

        </div>
    </div>
</footer>