<nav class="navbar is-transparent is-fixed-top">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="/img/md-logo.svg" alt="Montpedigital:Collectif de développeurs pour le logiciel libre">
            <!---width="112" height="28"-->
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">Accueil</a>
            <a class="navbar-item" href="/about-us">À propos</a>
            <a class="navbar-item" href="/blog">Blog</a>
            <a class="navbar-item" href="/contact">Contact</a>

            <!--
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="https://bulma.io/documentation/overview/start/">
            Docs
          </a>
                <div class="navbar-dropdown is-boxed">
                    <a class="navbar-item" href="https://bulma.io/documentation/overview/start/">
              Overview
            </a>
                    <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">
              Modifiers
            </a>
                    <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">
              Columns
            </a>
                    <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">
              Layout
            </a>
                    <a class="navbar-item" href="https://bulma.io/documentation/form/general/">
              Form
            </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">
              Elements
            </a>
                    <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">
              Components
            </a>
                </div>
            </div>
            -->
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                    <p class="control">
                        <a class="bd-tw-button button" data-social-network="Twitter" data-social-action="tweet" data-social-target="http://localhost:4000" target="_blank" href="https://framateam.org/montpedigital/channels/talk-about-new-projects">
                            <span class="icon">
                                <i class="fas fa-comment-alt"></i>
                </span>
                            <span>
                                Rejoignez le chat
                </span>
                        </a>
                    </p>
                    <!--
                    <p class="control">
                        <a class="button is-light" href="https://github.com/jgthms/bulma/releases/download/0.7.5/bulma-0.7.5.zip">
                            <span class="icon">
                                <i class="fas fa-sign-in-alt"></i>
                </span>
                            <span>Sign-in</span>
                        </a>
                    </p>
                    -->
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>