<head>
    <title>{{head_title}} - {{metaTitle}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />

    <link async href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://pagecdn.io/lib/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous">
    <link async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">

    <link rel="stylesheet" type="text/css" href="/app.css">

    <meta name="keywords" content="{{metaKeywords}}">
    <meta name="description" content='{{metaDescription}}'>
    <meta itemprop="name" content="{{metaName}}">
    <meta itemprop="description" content='{{metaDescription}}'>
    <meta itemprop="image" content="{{metaImage}}" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@misitioba" />
    <meta name="twitter:title" content="{{metaName}}">
    <meta name="twitter:description" content="{{metaName}}">
    <meta name="twitter:creator" content="@netlify" />
    <meta name="twitter:image" content="{{metaImage}}" />
    <meta property="og:title" content="{{metaName}}">
    <meta property="og:description" content='{{metaDescription}}'>
    <meta name="og:image" content="{{metaImage}}" />
    <meta name="og:image:secure_url" content="{{metaImage}}" />
    <meta property="og:site_name" content="{{metaName}}" />
    <meta name="author" content="misitioba.com">

    <meta http-equiv="Content-Security-Policy" content="default-src * 'self' 'unsafe-inline' 'unsafe-eval' data:;  style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; img-src * data: 'unsafe-inline'; connect-src * 'unsafe-inline'; frame-src *; font-src * data: 'unsafe-inline';"> {{#if config.isProd}} {{> ga }} {{ else }}
    <!-- ga disabled in dev -->
    {{/if}}



</head>