<div class="card">
    <!--
        <div class="card-image">
        <figure class="image is-4by2">
            <img src="{{image}}" alt="Placeholder image">
        </figure>
    </div>
   -->
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img class="is-rounded" src="{{image}}" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-5">{{name}}</p>
                <p class="subtitle is-6">@{{nickname}}</p>
            </div>
        </div>

        <div class="content">
            {{#if linkedin}}
            <a href="{{linkedin}}" target="_blank" class="is-size-6">
                LinkedIn
            </a>
            {{/if}}

            {{#if website}}
            <br />
            <a href="{{website}}" target="_blank" class="is-size-6">
                Website
            </a>
            {{/if}}

            {{#if join}}
            <br />
            <a href="{{join}}" target="_blank" class="is-size-6">
                Join us!
            </a>
            {{/if}}
        </div>
    </div>
</div>