<div class='social-share-btns-container'>
    <div class='social-share-btns'>
        <a class='share-btn share-btn-twitter' href='https://twitter.com/intent/tweet?text=_URL_' rel='nofollow' target='_blank'>
            <i class='ion-social-twitter'></i> Tweet
        </a>
        <a class='share-btn share-btn-facebook' href='https://www.facebook.com/sharer/sharer.php?u=_URL_' rel='nofollow' target='_blank'>
            <i class='ion-social-facebook'></i> Share
        </a>
        <a class='share-btn share-btn-linkedin' href='https://www.linkedin.com/cws/share?url=_URL_' rel='nofollow' target='_blank'>
            <i class='ion-social-linkedin'></i> Share
        </a>
        <a class='share-btn share-btn-reddit' href='http://www.reddit.com/submit?url=_URL_' rel='nofollow' target='_blank'>
            <i class='ion-social-reddit'></i> Share
        </a>
        <a class='share-btn share-btn-mail' href='mailto:?subject=_TITLE_&amp;amp;body=_URL_' rel='nofollow' target='_blank' title='via email'>
            <i class='ion-paper-airplane'></i> Share
        </a>
    </div>


    <style scoped>
        @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
        .social-share-btns-container {
            font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            height: 100%;
            overflow: hidden;
            padding: 0;
            margin: 0;
        }
        
        .social-share-btns-container a {
            text-decoration: none;
        }
        
        .social-share-btns-container {
            text-align: center;
            padding: 20px 0px;
        }
        
        .social-share-btns {
            display: inline-block;
            overflow: hidden;
        }
        
        .social-share-btns .share-btn {
            float: left;
            margin: 0 5px;
            padding: 8px 16px;
            border-radius: 3px;
            color: #fff;
            font-size: 14px;
            line-height: 18px;
            vertical-align: middle;
        }
        
        .social-share-btns .share-btn i {
            margin-right: 5px;
            display: inline-block;
            font-size: 18px;
            vertical-align: middle;
        }
        
        .share-btn {
            background-color: #95a5a6;
        }
        
        .share-btn:hover {
            background-color: #798d8f;
        }
        
        .share-btn-twitter {
            background-color: #00aced;
        }
        
        .share-btn-twitter:hover {
            background-color: #0087ba;
        }
        
        .share-btn-facebook {
            background-color: #3b5998;
        }
        
        .share-btn-facebook:hover {
            background-color: #2d4373;
        }
        
        .share-btn-linkedin {
            background-color: #007bb6;
        }
        
        .share-btn-linkedin:hover {
            background-color: #005983;
        }
        
        .share-btn-reddit {
            background-color: #ED001C;
        }
        
        .share-btn-reddit:hover {
            background-color: #ba0016;
        }
        
        .share-btn-mail {
            background-color: #f1c40f;
        }
        
        .share-btn-mail:hover {
            background-color: #dab10d;
        }
    </style>
    <script>
        document.querySelectorAll(`.social-share-btns a`).forEach(el => {
            let url = window.encodeURI(location.href) + `&title=` + window.encodeURI(`{{title}}`)
            el.href = el.href.split('_URL_').join(url).split('_TITLE_').join(window.encodeURI(`{{title}}`))
        })
    </script>
</div>