<!-- USE_HANDLEBARS -->
<!DOCTYPE html>
<html>

<head>
    <title>%head_title% - Conseil et développement des sites web en Hérault</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/app.css">

    <meta name="keywords" content="{{meta_keywords}}">

    <meta name="description" content='Nos experts du web assurent la création de site Internet à Montpellier dans l&#39;Hérault. Notre équipe de créateurs spécialisés est à votre disposition pour créer votre site web à Montpellier dans le 34.'>
    <meta itemprop="name" content="Montpe Tech Services - Conseil et développement en technologies Web">
    <meta itemprop="description" content='Nos experts du web assurent la création de site Internet à Montpellier dans l&#39;Hérault. Notre équipe de créateurs spécialisés est à votre disposition pour créer votre site web à Montpellier dans le 34.'>
    <meta itemprop="image" content="/img/ba-meta-image.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@misitioba" />
    <meta name="twitter:title" content="Montpe Tech Services - Conseil et développement en technologies Web">
    <meta name="twitter:description" content="Montpe Tech Services - Conseil et développement en technologies Web">
    <meta name="twitter:creator" content="@netlify" />
    <meta name="twitter:image" content="/img/ba-meta-image.jpg" />
    <meta property="og:title" content="Montpe Tech Services - Conseil et développement en technologies Web">
    <meta property="og:description" content='Nos experts du web assurent la création de site Internet à Montpellier dans l&#39;Hérault. Notre équipe de créateurs spécialisés est à votre disposition pour créer votre site web à Montpellier dans le 34.'>
    <meta name="og:image" content="/img/ba-meta-image.jpg" />
    <meta name="og:image:secure_url" content="/img/ba-meta-image.jpg" />
    <meta property="og:site_name" content="Montpe Tech Services" />

    <script>
        //GA
        //MIXPANEL
    </script>


</head>

<body>
    <header>
        <h1>MONTPE TECH SERVICES</h1>
    </header>

    <article>
        <h1>{{title}}</h1>
        %page_content%
    </article>

    <div class="footer_wave"></div>
    <footer>
        <a href="#" class="button">Contactez moi</a>
        <a href="#" class="button">Mentions légales</a>
    </footer>
</body>

</html>