<!-- USE_HANDLEBARS -->
<!DOCTYPE html>
<html>

%_head%

<body>
    %_header% {{#if headline}}
    <div class="headline_wrapper">
        <div class="headline__text_wrapper">
            <h3 class="headline__text__top">
                Développement d'outils Web gratuits pour les associations / coopératives / micro-entrepreneurs
            </h3>
            <h3 class="headline__text__bottom">
                L'but? Augmenter la collaboration entre les différents acteurs locaux et transférer l'utilisation du numérique dans un secteur 100% coopératif et libre
            </h3>
        </div>
    </div>
    {{/if}}

    <div class="container">

        {{#if hero}}
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <p class="title">
                        {{hero.title}}
                    </p>
                    <p class="subtitle">
                        {{hero.subtitle}}
                    </p>
                </div>
            </div>
        </section>
        {{/if}} {{#if noWrapper}} {{else}}
        <article>
            %page_content%
        </article>
        {{/if}}
    </div>

    {{#if noWrapper}} %page_content% {{else}} {{/if}} %_footer%
</body>

</html>